---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SiteFooter from "../../components/SiteFooter.astro";
import NavBar from "../../components/navbar/NavBar.astro";
//import SoftwareDevelopmentHero from "../../components/SoftwareDevelopmentHero.astro";
import SoftwareFeatures from "../../components/SoftwareFeatures.astro";
import SoftwareUseCases from "../../components/SoftwareUseCases.astro";
import SoftwareDevelopmentProcess from "../../components/SoftwareDevelopmentProcess.astro";
import CTASection from "../../components/CTASection.astro";

export const prerender = true;
---

<BaseLayout
  title="Software a Medida | ISOFT - Desarrollo Personalizado"
  description="Desarrollo de software personalizado, automatización con IA y scripts. Soluciones tecnológicas adaptadas a tu negocio."
>
  <NavBar />

  <main>
    <!-- <SoftwareDevelopmentHero /> -->
    <SoftwareFeatures />
    <SoftwareUseCases />
    <SoftwareDevelopmentProcess />
    <CTASection />
  </main>

  <SiteFooter />
</BaseLayout>
